WG_HOST=vpn@example.com
WG_PORT=51822
WG_UI_PORT=51823
WG_DNS=1.1.1.1,8.8.8.8
WG_UI_USERNAME=admin
WG_UI_PASSWORD=admin123
CONFIG_DIR=./data
CADDY_EMAIL=vpn@example.com

# Docker Hub
HUB_HOST=hub.example.com
HUB_USER=exampleuser
# Genera el hash con: docker exec -it caddy caddy hash-password --plaintext 'tu-password'
HUB_PASSWORD_HASH=xxxxxxxxxxxxx

# POS System
POS_HOST=pos.example.com
POS_IP=localhost
POS_PORT=8080

 # ===== Ollama =====
OLLAMA_HOST=ollama.example.com
OLLAMA_IP=10.0.0.2
OLLAMA_PORT=11434

DSPACE_GMENDEL_FRONT_HOST=gmendel.example.com
DSPACE_GMENDEL_FRONT_IP=10.8.0.X
DSPACE_GMENDEL_FRONT_PORT=3000
DSPACE_GMENDEL_BACK_HOST=api.gmendel.example.com
DSPACE_GMENDEL_BACK_IP=10.8.0.X
DSPACE_GMENDEL_BACK_PORT=8000