{
	email {$CADDY_EMAIL}
}

# WireGuard UI
{$WG_HOST} {
	reverse_proxy localhost:51821
}

# Registry Docker Hub + UI
{$HUB_HOST} {
	basic_auth {
		{$HUB_USER} {$HUB_PASSWORD_HASH}
	}

	reverse_proxy 127.0.0.1:8081

	header {
		Docker-Distribution-Api-Version: registry/2.0
		X-Content-Type-Options: nosniff
	}
}

# POS System
{$POS_HOST} {
  reverse_proxy {$POS_IP}:{$POS_PORT}
}

# ===== Ollama =====
{$OLLAMA_HOST} {
#	basic_auth {
#		{$HUB_USER} {$HUB_PASSWORD_HASH}
#	}

	reverse_proxy {$OLLAMA_IP}:{$OLLAMA_PORT}
	header {
	 	X-Forwarded-Proto https
	 }
}
# Frontend Angular + Proxy Inverso al Backend Tomcat (DSpace 7/8)
{$DSPACE_GMENDEL_FRONT_HOST} {
	# Redirigir la API de DSpace (REST/HAL) al backend Tomcat
	handle /server* {
		reverse_proxy {$DSPACE_GMENDEL_BACK_IP}:{$DSPACE_GMENDEL_BACK_PORT}
	}

	# El resto del tráfico de la aplicación web va al SSR de Angular
	handle {
		reverse_proxy {$DSPACE_GMENDEL_FRONT_IP}:{$DSPACE_GMENDEL_FRONT_PORT}
	}
}